@{
    ViewBag.Title = "Học sinh - Dashboard";
}

<h2>Chào mừng, học sinh!</h2>

<ul>
    <li><a href="/Attendance/CurrentStudentSessions">📝 Xem buổi học đang diễn ra </a></li>
    <li><a href="/Attendance/MyHistory">📊 Xem lịch sử điểm danh</a></li>
</ul>
